appdirs==1.4.4
codetiming==1.2.0
cycler==0.10.0
decorator==4.4.2
kiwisolver==1.3.1
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.3
numa==1.4.6
numpy==1.19.4
Pillow==8.0.1
pkg-resources==0.0.0
psutil==5.8.0
pycuda==2020.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytools==2020.4.4
six==1.15.0
systemd==0.16.1
systemd-python==234
